:root {
	--colourA: #1E90FF; /* blue */
	--colourB: #57B94E; /* green */
	--colourC: #f33410; /* slightly tomato red */
	--colourD: #ffffff; /* white */
	--colourE: #000000; /* black */
}

body {
	font-family: 'Arimo', sans-serif;
	background-color: black;
	color: var(--colourD);
}
h1, h2, h3, h4, h5 {
	font-family: 'Bangers', cursive;
	font-weight: normal;
}
h1 {
	color: var(--colourA);
	font-size: 48px;
}
h2 {
	color: var(--colourB);
	font-size: 42px;
}
h3 {
	color: var(--colourC);
	font-size: 36px;
}
h4 {
	font-size: 30px;
}
p {
	color: var(--colourA);
}
a {
	color: var(--colourB);
	font-weight: 700;
}
a:hover {
	color: var(--colourA);
}
fieldset {
    background-color: white;
    color: var(--colourE);
}
footer {
	color: var(--colourD);
}
legend {
	float: left; /* ensure legend stays within fieldset border */
    width: 100%; /* stops legend from displaying next to lower elements rather than above them */
}